@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

.sport_background {
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0 auto;
  font-family: "Times New Roman", Times, serif;
  background: url(../img/sport_page/sport_bk.png);
  background-size: cover;
  width: 100%;
  color: #fff;
}

.sport_about {
  margin: 0 auto;
  max-width: 1160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
  padding-bottom: 100px;
}

.sport_img {
  max-width: 460px;
  max-height: 395px;
  text-align: center;
}

.sport_img img {
  margin-bottom: -5px;
  max-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50px;
  border: 4px solid #463aa1;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.sport_text {
  width: 50%;
  z-index: 100;
}

.sport_text h2 {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 26px;
}

.sport_text p {
  font-weight: 500;
  font-size: 26px;
}

.sport_absol {
  position: relative;
}

.sport_comet {
  position: absolute;
  left: 36%;
  top: 30%;
  offset-path: path("M897 1L1 437");
  -webkit-animation: move 60s linear infinite;
          animation: move 60s linear infinite;
  offset-rotate: 2deg;
}

@-webkit-keyframes move {
  100% {
    offset-distance: 100%;
  }
}

@keyframes move {
  100% {
    offset-distance: 100%;
  }
}

.sport_galery_block {
  margin: 0 auto;
  max-width: 1160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 70px;
}

.sport_galery_card {
  text-align: center;
}

.sport_galery_img {
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
  width: 345px;
  height: 330px;
}

.sport_galery_img img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50px;
  border: 4px solid #463aa1;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.sport_galery_desc p {
  margin: 0 auto;
  width: 90%;
  font-size: 20px;
}

.sport_absol2 {
  position: relative;
}

.gallery_star_r {
  position: absolute;
  left: 7%;
  top: -15%;
  -webkit-filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.45));
          filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.45));
  -webkit-animation: pulsing 2s infinite;
          animation: pulsing 2s infinite;
}

@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }

  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}

@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }

  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}

.gallery_star_l {
  position: absolute;
  bottom: 15%;
  right: 2%;
  -webkit-filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.45));
          filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.45));
  -webkit-animation: pulsing 2s infinite;
          animation: pulsing 2s infinite;
}

@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }

  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}

@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }

  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}

.game_background {
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0 auto;
  font-family: "Times New Roman", Times, serif;
  background: url(../img/game_page/game_back.png);
  background-size: cover;
  width: 100%;
  background-color: #161743;
  color: #fff;
}

.game_about {
  margin: 0 auto;
  max-width: 1160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.game_main_img {
  max-width: 583px;
  max-height: 317px;
  text-align: center;
}

.game_main_img img {
  margin-bottom: -5px;
  max-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.game_main_text {
  width: 45%;
  z-index: 100;
}

.game_main_text h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 26px;
}

.game_main_text p {
  font-size: 26px;
}

.absol_game {
  position: relative;
}

.comet_grad {
  position: absolute;
  top: 50%;
  offset-path: path("M897 1L1 437");
  -webkit-animation: move 60s linear infinite;
          animation: move 60s linear infinite;
  offset-rotate: 2deg;
}

@keyframes move {
  100% {
    offset-distance: 100%;
  }
}

.game_gallery {
  margin: 0 auto;
  max-width: 1160px;
  margin-top: 150px;
}

.game_block {
  width: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.game_card {
  margin-bottom: 50px;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.mar {
  margin-left: 35px;
}

.card_img {
  width: 530px;
  height: 392px;
}

.card_img img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50px;
  border: 4px solid #463aa1;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.card_desc {
  text-align: center;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
}

.card_desc p {
  font-size: 26px;
}

.game_absol2 {
  position: relative;
}

.game_planet {
  position: absolute;
  left: 5%;
  -webkit-animation: 55s linear 0s normal none infinite running rot;
          animation: 55s linear 0s normal none infinite running rot;
}

@keyframes rot {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes rot {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@font-face {
  font-family: "Times New Roman";
  src: local("Times New Roman");
  font-style: normal;
  font-weight: 400;
}

.background {
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0 auto;
  font-family: "Times New Roman", Times, serif;
  background: url(../img/Main_page/main_image.png) no-repeat;
  background-size: cover;
  width: 100%;
  background-color: #161743;
}

#menu-toggle {
  display: none;
}

.main_photo {
  max-width: 430px;
  max-height: 500px;
}

.img {
  display: block;
  height: auto;
  max-width: 100%;
  width: 100%;
}

.active {
  text-decoration: underline;
  color: #fff;
}

header {
  position: relative;
}

.header {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo img {
  width: 130px;
}

.menu li {
  display: inline-block;
  margin-right: 25px;
}

.menu-item {
  letter-spacing: 1.3px;
  color: #fff;
  font-size: 24px;
}
.menu_footer a{
  letter-spacing: 1.3px;
  color: #fff;
  font-size: 24px;
}

.menu a:hover {
  text-decoration: underline;
}

.star {
  -webkit-filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.45));
          filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.45));
  position: absolute;
  left: 3%;
  top: 4%;
  width: 31px;
  height: 29px;
  -webkit-animation: pulsing 2s infinite;
          animation: pulsing 2s infinite;
}

@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }

  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}

@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }

  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}

.star1 {
  -webkit-filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.45));
          filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.45));
  position: absolute;
  right: 1.2%;
  top: 1.2%;
  width: 40px;
  height: 60px;
  -webkit-animation: pulsing 2s infinite;
          animation: pulsing 2s infinite;
}

@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }

  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}

@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }

  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}

.star2 {
  -webkit-filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.45));
          filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.45));
  position: absolute;
  left: 30%;
  top: 5px;
  width: 30px;
  height: 50px;
  -webkit-animation: pulsing 2s infinite;
          animation: pulsing 2s infinite;
}

@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }

  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}

@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }

  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}

.comet {
  position: absolute;
  left: 36%;
  top: 0px;
  offset-path: path("M897 1L1 437");
  -webkit-animation: move 60s linear infinite;
          animation: move 60s linear infinite;
  offset-rotate: 2deg;
}

@keyframes move {
  100% {
    offset-distance: 100%;
  }
}

.absol {
  position: relative;
}

.first_screen {
  max-width: 950px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-bottom: 200px;
}

.main_text {
  z-index: 100;
  margin-top: 80px;
}

.main_text h1 {
  font-weight: 700;
  color: #fff;
  font-size: 64px;
  margin-bottom: 35px;
}

.main_text p {
  font-weight: 500;
  color: #fff;
  font-size: 35px;
}

.planet_l {
  position: absolute;
  -webkit-animation: 55s linear 0s normal none infinite running rot;
          animation: 55s linear 0s normal none infinite running rot;
}

@keyframes rot {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes rot {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.comet_blue {
  position: absolute;
  top: -100px;
  left: 1%;
  offset-path: path("M897 1L1 437");
  -webkit-animation: move 60s linear infinite;
          animation: move 60s linear infinite;
  offset-rotate: 2deg;
}

@keyframes move {
  100% {
    offset-distance: 100%;
  }
}

.star_br {
  position: absolute;
  right: 10%;
  top: 0;
  -webkit-filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.45));
          filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.45));
  -webkit-animation: pulsing 2s infinite;
          animation: pulsing 2s infinite;
}

@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }

  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}

@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }

  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}

.star_r {
  position: absolute;
  top: 65%;
  right: 10%;
  -webkit-filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.45));
          filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.45));
  -webkit-animation: pulsing 2s infinite;
          animation: pulsing 2s infinite;
}

@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }

  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}

@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }

  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}

.comet_pink {
  position: absolute;
  top: 40%;
  left: 20%;
  offset-path: path("M897 1L1 437");
  -webkit-animation: move 60s linear infinite;
          animation: move 60s linear infinite;
  offset-rotate: 2deg;
}

@keyframes move {
  100% {
    offset-distance: 100%;
  }
}

.comet_red {
  position: absolute;
  top: 90%;
  right: 50%;
  offset-path: path("M897 1L1 437");
  -webkit-animation: move 60s linear infinite;
          animation: move 60s linear infinite;
  offset-rotate: 2deg;
}

@keyframes move {
  100% {
    offset-distance: 100%;
  }
}

.planet_white {
  position: absolute;
  top: 97%;
  right: 12%;
  -webkit-animation: 50s linear 0s normal none infinite running rot;
          animation: 50s linear 0s normal none infinite running rot;
}

@keyframes rot {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes rot {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.second_screen {
  max-width: 1160px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 230px;
}

.section_photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.photo1,
.photo2,
.photo3,
.photo4 {
  width: 228px;
  height: 257px;
  margin-bottom: 15px;
  margin-right: 15px;
}

.photo1 img,
.photo2 img,
.photo3 img,
.photo4 img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50px;
  border: 2px solid #463aa1;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.section_text {
  width: 55%;
}

.section_text p {
  z-index: 100;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 25px;
}

.col1,
.col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.col2 {
  margin-top: 30px;
}

.absol2 {
  position: relative;
}

.star_about1 {
  -webkit-filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.45));
          filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.45));
  position: absolute;
  top: 0;
  right: 10%;
}

.star_about2 {
  -webkit-filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.45));
          filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.45));
  position: absolute;
  bottom: 0;
  left: 45%;
}

.about_comet {
  position: absolute;
  top: 0%;
  left: 40%;
  offset-path: path("M897 1L1 437");
  -webkit-animation: move 60s linear infinite;
          animation: move 60s linear infinite;
  offset-rotate: 2deg;
}

@keyframes move {
  100% {
    offset-distance: 100%;
  }
}

.about_planet {
  position: absolute;
  bottom: -15%;
  right: 5%;
  -webkit-animation: 30s linear 0s normal none infinite running rot;
          animation: 30s linear 0s normal none infinite running rot;
}

@keyframes rot {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes rot {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.star_planet1 {
  -webkit-filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.45));
          filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.45));
  position: absolute;
  bottom: 0%;
  right: 4%;
}

.star_planet2 {
  -webkit-filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.45));
          filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.45));
  position: absolute;
  bottom: -15%;
  right: 15%;
}

.star_planet3 {
  -webkit-filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.45));
          filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.45));
  position: absolute;
  bottom: 0%;
  right: 18%;
}

.star_about1,
.star_about2,
.star_planet1,
.star_planet2,
.star_planet3 {
  -webkit-animation: pulsing 2s infinite;
          animation: pulsing 2s infinite;
}

@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }

  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}

@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }

  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}

.absol3 {
  position: relative;
}

.third_screen {
  max-width: 1160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 130px;
}

.sport {
  text-align: center;
  width: 42%;
}

.sport p {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 50px;
}

.sport a {
  padding: 13px 50px;
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  background-color: #463aa1;
  border-radius: 20px;
  -webkit-box-shadow: 0px 4px 50px #463aa1;
          box-shadow: 0px 4px 50px #463aa1;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.sport a:hover {
  background-color: #1d1175;
}

.photo_sport {
  width: 480px;
  height: 420px;
  text-align: center;
  margin-bottom: 30px;
}

.photo_sport img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50px;
  border: 4px solid #463aa1;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.photo_hobby {
  width: 480px;
  height: 420px;
  text-align: center;
  margin-bottom: 30px;
}

.photo_hobby img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50px;
  border: 4px solid #463aa1;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.hobby {
  text-align: center;
}

.hobby p {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 70px;
}

.hobby a {
  display: inline-block;
  vertical-align: bottom;
  padding: 13px 50px;
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  background-color: #463aa1;
  border-radius: 20px;
  -webkit-box-shadow: 0px 4px 50px #463aa1;
          box-shadow: 0px 4px 50px #463aa1;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.hobby a:hover {
  background-color: #1d1175;
}

.icons a {
  color: #fff;
  font-size: 24px;
  margin-left: 15px;
}

.section_comet1 {
  position: absolute;
  left: 0%;
  top: -10%;
  offset-path: path("M897 1L1 137");
  -webkit-animation: move 60s linear infinite;
          animation: move 60s linear infinite;
  offset-rotate: 2deg;
}

@keyframes move {
  100% {
    offset-distance: 100%;
  }
}

.section_comet2 {
  position: absolute;
  bottom: 0;
  right: 30%;
  offset-path: path("M897 1L1 437");
  -webkit-animation: move 30s linear infinite;
          animation: move 30s linear infinite;
  offset-rotate: 2deg;
}

@keyframes move {
  100% {
    offset-distance: 100%;
  }
}

.section_planet {
  position: absolute;
  bottom: -30%;
  left: 3%;
  -webkit-animation: 30s linear 0s normal none infinite running rot;
          animation: 30s linear 0s normal none infinite running rot;
}

@keyframes rot {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes rot {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.section_star {
  position: absolute;
  right: 2%;
  -webkit-filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.45));
          filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.45));
  -webkit-animation: pulsing 2s infinite;
          animation: pulsing 2s infinite;
}

@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }

  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}

@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }

  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}

.footer {
  display: block;
  height: 100%;
  width: 100%;
  background-image: url("../img/vector_footer.png");
  background-size: cover;
}

.footer_content {
  max-width: 1160px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 100px;
  padding-bottom: 5px;
}

.logo_footer img {
  max-width: 90px;
}

@media (max-width: 760px) {
  .planet_l,
  .section_planet,
  .about_planet,
  .planet_white {
    display: none;
  }

  .star1,
  .star_br,
  .star_r,
  .star_about1,
  .star_planet1,
  .star_planet2,
  .star_planet3,
  .section_star {
    display: none;
  }

  .comet,
  .comet_blue,
  .comet_pink,
  .comet_red,
  .about_comet,
  .section_comet1,
  .section_comet2 {
    display: none;
  }

  .background {
    background: url(../img/first_screen.png) center right no-repeat;
    background-size: cover;
    background-color: #161743;
  }

  .absol2 {
    background: url(../img/main_bc.png);
  }

  .logo img {
    margin-left: 15px;
    width: 70%;
  }

  .menu a {
    letter-spacing: 1.3px;
  }

  .first_screen {
    display: block;
    margin-bottom: 50px;
  }

  .main_text {
    z-index: 5;
    text-align: center;
    margin-top: 30px;
  }

  .main_text h1 {
    font-size: 40px;
  }

  .main_text p {
    margin: 0 auto;
    font-size: 30px;
    width: 85%;
    margin-bottom: 15px;
  }

  .main_photo {
    left: 0;
    right: 0;
    width: 100%;
  }

  .main_photo img {
    max-width: 320px;
    text-align: center;
  }

  .second_screen {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 80px;
  }

  .section_photo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .col2 {
    margin-top: 0;
  }

  .section_text {
    text-align: center;
  }

  .section_text p {
    font-size: 18px;
  }

  .third_screen {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin: 0 auto;
  }

  .sport {
    width: auto;
    margin-bottom: 50px;
  }

  .sport a {
    border-radius: 12px;
    font-size: 15px;
    display: inline-block;
    padding: 10px 30px;
  }

  .sport p {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .hobby a {
    vertical-align: auto;
    border-radius: 12px;
    font-size: 15px;
    display: inline-block;
    padding: 10px 30px;
  }

  .hobby p {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .menu_footer a {
    font-size: 14px;
  }

  .menu_footer li {
    padding-bottom: 15px;
  }

  .menu_footer ul {
    text-align: right;
    display: inline-block;
  }

  .icons {
    text-align: center;
    width: 120px;
  }

  .icons img {
    width: 20px;
  }

  .icons a {
    color: #fff;
    font-size: 24px;
    margin-right: 0px;
  }

  .footer_content {
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
  }

  .planet_l,
  .section_planet,
  .about_planet,
  .planet_white {
    display: block;
  }

  .star1,
  .star_br,
  .star_r,
  .star_about1,
  .star_planet1,
  .star_planet2,
  .star_planet3,
  .section_star {
    display: block;
  }

  .star {
    left: 20%;
    top: 4%;
  }

  .star1 {
    top: 40%;
  }

  .star_about1 {
    top: 8%;
    right: 0%;
  }

  .star_planet1 {
    top: 60%;
  }

  .star_planet3 {
    right: 10%;
  }

  .section_star {
    right: 2%;
    top: 40%;
  }

  .planet_l {
    width: 20%;
    left: 0;
    top: -8%;
  }

  .planet_white {
    width: 30%;
    top: 80%;
  }

  .about_planet {
    width: 20%;
    bottom: -4.5%;
    right: 0;
  }

  .section_planet {
    width: 20%;
    bottom: 0%;
    left: 3%;
  }

  .sport_comet,
  .comet {
    display: none;
  }

  .sport_about {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    text-align: center;
    margin-top: 70px;
  }

  .sport_galery_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .sport_text {
    z-index: 1;
    text-align: center;
    width: 100%;
    margin-top: 40px;
  }

  .sport_text h2 {
    font-size: 30px;
  }

  .sport_text p {
    font-size: 22px;
  }

  .sport_galery_desc p {
    font-size: 18px;
    margin-bottom: 40px;
  }

  .sport_about {
    padding-bottom: 50px;
  }

  .sport_galery_block {
    margin-bottom: 30px;
  }

  .gallery_star_l {
    right: 0%;
  }

  .gallery_star_r {
    top: -5%;
    left: 0;
  }

  .comet,
  .comet_grad {
    display: none;
  }

  .game_about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 30px;
  }

  .game_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .game_card {
    width: 95%;
    margin: auto;
    margin-bottom: 35px;
  }

  .mar {
    margin-left: 0;
  }

  .game_main_img {
    max-width: 330px;
    max-height: 180px;
  }

  .card_img {
    max-width: 360px;
    max-height: 220px;
    margin: auto;
  }

  .card_desc p {
    font-size: 18px;
  }

  .game_main_text h2 {
    font-size: 30px;
  }

  .game_main_text {
    width: 95%;
    z-index: 1;
    text-align: center;
    margin-top: 30px;
  }

  .game_main_text p {
    font-size: 20px;
  }

  .game_gallery {
    margin-top: 50px;
  }

  .game_planet {
    top: -150%;
    width: 20%;
  }

  .menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 3;
    right: 0;
    margin-right: 10px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    z-index: 100;
  }

  .menu-btn > span,
  .menu-btn > span::before,
  .menu-btn > span::after {
    display: block;
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #fff;
    -webkit-transition-duration: 0.25s;
         -o-transition-duration: 0.25s;
            transition-duration: 0.25s;
  }

  .menu-btn > span::before {
    content: "";
    top: -8px;
  }

  .menu-btn > span::after {
    content: "";
    top: 8px;
  }

  .menubox {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #161743;
    z-index: 50;
    -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
            box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.25s;
         -o-transition-duration: 0.25s;
            transition-duration: 0.25s;
  }

  .menu-item {
    display: block;
    padding: 12px 24px;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    -webkit-transition-duration: 0.25s;
         -o-transition-duration: 0.25s;
            transition-duration: 0.25s;
  }

  #menu-toggle {
    opacity: 0;
  }

  #menu-toggle:checked ~ .menu-btn > span {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  #menu-toggle:checked ~ .menu-btn > span::before {
    top: 0;
    -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
            transform: rotate(0);
  }

  #menu-toggle:checked ~ .menu-btn > span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }

  #menu-toggle:checked ~ .menubox {
    visibility: visible;
    right: 0;
  }
}

@media (max-width: 500px) {
  .main_text h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .main_text p {
    font-size: 24px;
  }

  .main_photo img {
    max-width: 220px;
  }

  .menu li {
    margin-right: 10px;
  }

  .menu a {
    letter-spacing: 1px;
    font-weight: 700;
  }

  .logo img {
    margin-left: 7px;
    width: 70%;
  }

  .section_text {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 90%;
    margin-top: 20px;
  }

  .section_photo {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .second_screen {
    margin-bottom: 50px;
  }

  .third_screen {
    width: 95%;
  }

  .photo_sport {
    width: 330px;
    height: 320px;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .photo_hobby {
    width: 330px;
    height: 320px;
  }
}
